@model MVCRazorViewNorthwind.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div> 
        <h1>@Model.CategoryName</h1>
    </div>
</body>
</html>
