
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

@section scripts{
    <script>
        $(document).ready(function () {
            alert(1)
        })
    </script>
    }