
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Html.ActionLink()
<a href="#"></a>
-->
<!--1. Kullanım
    1. Kullanım Parametreleri;
       1) Kullanıcının göreceği text kısmı için sizden string olarak değer ister.
       2) Link'e tıklandığı anda hangi Action'a gidecek, string olarak Action Name ister.
-->
@Html.ActionLink("Detay", "Detail")

<!--2. Kullanım
    2. Kullanım Parametreleri;
       1) Kullanıcının göreceği text kısmı için sizden string olarak değer ister.
       2) Link'e tıklandığı anda hangi Action'a gidecek, string olarak Action Name ister.


-->
@Html.ActionLink("Anasayfa", "Index", "Home")

<hr />
<!--3. Kullanım
    3. Kullanım Parametreleri;
       1) Kullanıcının göreceği text kısmı için sizden string olarak değer ister.
       2) Link'e tıklandığı anda hangi Action'a gidecek, string olarak Action Name ister.
       3) Url üzerinden parametre olarak id gönderimek istenirse  " new { id = 1 } " eğer id parametresi gönderilmeyecek ise " null " olarak işaretlenmelidir.

-->
@Html.ActionLink("Detay", "Detail", new { id = 1 })
<!--4. Kullanım
    4. Kullanım Parametreleri;
       1) Kullanıcının göreceği text kısmı için sizden string olarak değer ister.
       2) Link'e tıklandığı anda hangi Action'a gidecek, string olarak Action Name ister.
       3) Url üzerinden parametre olarak id gönderimek istenirse  " new { id = 1 } " eğer id parametresi gönderilmeyecek ise " null " olarak işaretlenmelidir.
       4) Html Atribute değerlerini belirleyebilmeniz için gerekli alan


-->
@Html.ActionLink("Anasayfa", "Index", "Home", null, new { @style = "color:red" })