
@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Action</h2>

<!--

     Html.Action metodu, partial view'i Html-encoded string olarak çözümler.

     Kullanım Olarak; Tanımlanan PartialView'ın Controller içerisinde Action'ı olmak zorundadır.  Html.Partial()'dan farkı; Html.Action() sizden bir action ve view isterken, Html.Partial'ın Action'ı olma zorunluğu yoktur.


    Not : Eğer Göstermek istediğiniz Action "ActionResult" olarak tanımlı ise, tüm tag'lar ile yüklenir. PartialViewResult döner ise sadece sizin içerisinde tanımladığınız bölümler görünecektir.
-->
<!--1. Kullanım
    1. Kullanım Parametreleri;
       1) Aynı Controller İçerisindeki Action Adını verirseniz o Action Sayfa içerisinde konumlandırılacaktır.

-->
@Html.Action("_PartialAction")
<hr />
<!--2. Kullanım
    2. Kullanım Parametreleri;
       1) Aynı Controller İçerisindeki Action Adını verirseniz o Action Sayfa içerisinde konumlandırılacaktır.
       2) Action içerisinde parametre göndermek için tanımlanan alan.

-->
@Html.Action("_PartialActionRoute", new { id = 1 })
<hr />
<!--3. Kullanım
    3. Kullanım Parametreleri;
       1) Aynı Controller İçerisindeki Action Adını verirseniz o Action Sayfa içerisinde konumlandırılacaktır.
       2) Başka bir Controller içerisindeki Partial View'e yönlendirme yapmak için sizden Controller Name ister.

-->
@Html.Action("Help", "Help")