@model AppUserVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                <h2>Kullanıcı Kayıt Sayfası</h2>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div asp-validation-summary="All">

                    </div>
                    <form asp-action="Register" asp-controller="User" method="post">
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" placeholder="kullanıcı adı" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="email adresi" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" placeholder="şifreniz" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" placeholder="şifre tekrar" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                            </div>
                            <div class="col-lg-6">
                                <button asp-action="Index" asp-controller="User" class="btn float-right">İptal</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


