@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Kullanıcı Listesi</h2>
                        </div>
                        <div class="col-sm-6">
                            <a asp-action="Create" asp-controller="AppUser" class="btn btn-success float-md-right">Kullanıcı Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="appuser">
                    <thead>
                        <tr>
                            <th>Kullanıcı adı</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="3">
                                    <div class="container text-center">
                                        <div class="alert alert-warning">
                                            <span>Herhangi bir kullanıcı oluşturulmamış</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a asp-action="Edit" asp-controller="AppUser" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Güncelle</a>
                                        <a asp-action="Delete" asp-controller="AppUser" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $(function () {
        $("#appuser").DataTable();
    })
    </script>

}

