<div class="jumbotron">
    <h1>SOA Nedir</h1>
    <p class="lead">
        Servis odaklı mimari veya diğer tanımlaması ile hizmet yönelimli mimari bilgisayardaki sistemlerin işlevsellikleri ve iş süre.lerine göre gruplayarak sistem geliştirilmesi ve bütünleştirilmsinde yol gösteren bir yazılım tasarım felsefesidir.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Web Api Nedir</h2>
        <p>
            Bir yazılımın başka bir yazılımda tanımlanmış işlevlerini kullanabilmesi için oluşturulmuş tanımlar bütüdür. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Service Nedir</h2>
        <p>
            Http protokolü üzerinden xml veya json medya tipleri ile uzak cihazlar arasındaki iletişimi sağlayan bir haberleşme yöntemidir.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Restful Api Nedir</h2>
        <p>
            web protokelleri ve teknolojilerinde kullanılan dağıtık bir yapıdır. Aktarlılan verinin formatı html, json, xml, ya da farklı bir tipte olabilir. 
        </p>
    </div>
</div>
