@model Product
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-danger">
            <div class="card-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Ürün Sil</h2>
                        </div>
                        <div class="col-sm-6">
                            <a asp-action="Index" asp-controller="Product" class="btn btn-success float-md-right">Ürün Listesi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Delete" asp-controller="Product" method="post">
                    <input type="hidden" asp-for="ImagePath" />
                   <input type="hidden" asp-for="CategoryId" />
                    <p>@Model.ProductName silmek istiyor musunuz?</p>
                    <button type="submit" class="btn btn-danger">Ürün Sil</button>
                    <a asp-action="Index" asp-controller="Product" class="btn btn-default">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>


